#map {
	width: 100%;
	height: 100vh;
}

.fill-parent {
	width: 100%;
	height: 100vh;
}

.sidebar {
	position: fixed;
	top: 0px;
	left: 0px;

	height: 100%;
	width: 0px;
	overflow: hidden;

	background-color: #625eaa;
	color: aliceblue;
	transition: 0.5s;
	z-index: 1000;
}

.purple-text {
	color: #625eaa;
}

.btn-sidebar {
	position: fixed;
	top: 0px;
	left: 0px;

	height: fit-content;
	width: fit-content;
	margin: 5px;

	transition: 0.5s;
	z-index: 1000;
}

.toast-container {
	position: absolute;
	width: 100%;
	justify-content: center;
	bottom: 0px;
	margin-bottom: 10px;
	display: flex;
	align-items: flex-end;
	z-index: 1000;
}

.my-toast {
	position: absolute;
	width: 60%;
	color: white;
	text-align: center;
	padding: 5px;
	font-weight: bold;
	border-radius: 10px;
	height: fit-content;
	z-index: 1000;
}
